# Exploring NYC Public School Test Result Scores

![New York City schoolbus](schoolbus.jpg)

Photo by [Jannis Lucas](https://unsplash.com/@jannis_lucas) on [Unsplash](https://unsplash.com).
<br>

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

# The questions that we have to answer

1) Which NYC schools have the best math results?

2) What are the top 10 performing schools based on the combined SAT scores?

3) Which single borough has the largest standard deviation in the combined SAT score?

In [2]:
# Re-run this cell 
import pandas as pd

# Read in the data
schools = pd.read_csv("schools.csv")

# Preview the data
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

In [3]:
schools.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 375 entries, 0 to 374
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   school_name      375 non-null    object
 1   borough          375 non-null    object
 2   building_code    375 non-null    object
 3   average_math     375 non-null    int64
 4   average_reading  375 non-null    int64
 5   average_writing  375 non-null    int64
 6   percent_tested   355 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 20.6+ KB

In [4]:
schools.describe()

       average_math  average_reading  average_writing  percent_tested
count    375.000000       375.000000       375.000000      355.000000
mean     432.944000       424.504000       418.458667       64.976338
std       71.952373        61.881069        64.548599       18.747634
min      317.000000       302.000000       284.000000       18.500000
25%      386.000000       386.000000       382.000000       50.950000
50%      415.000000       413.000000       403.000000       64.800000
75%      458.500000       445.000000       437.500000       79.600000
max      754.000000       697.000000       693.000000      100.000000

# First Question:- Which NYC schools have the best math results?

In [5]:
more_than_80_percent = 800 * 0.80

best_math_schools = schools.loc[:, ['school_name', 'average_math']]

best_math_schools = best_math_schools[best_math_schools['average_math'] >= more_than_80_percent]

best_math_schools = best_math_schools.sort_values('average_math', ascending = False)

best_math_schools.head(50)

                                           school_name  average_math
88                              Stuyvesant High School           754
170                       Bronx High School of Science           714
93                 Staten Island Technical High School           711
365  Queens High School for the Sciences at York Co...           701
68   High School for Mathematics, Science, and Engi...           683
280                     Brooklyn Technical High School           682
333                        Townsend Harris High School           680
174  High School of American Studies at Lehman College           669
0    New Explorations into Science, Technology and ...           657
45                       Eleanor Roosevelt High School           641

- The best performing school in the math section of the SAT in the whole city of New York is **Stuyvesant High School**.

- Only 10 schools in New York averaged more than 80% in the math section  of ther SAT.

# Second Question:- What are the top 10 performing schools based on the combined SAT scores?

In [6]:
schools['total_SAT'] = round((schools['average_math'] + schools['average_reading'] + schools['average_writing'])/ 3, 1)

schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested,total_SAT
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN,619.7
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9,397.7
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1,420.3
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9,509.7
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7,399.0

In [7]:
top_10_schools = schools.loc[:, ['school_name', 'total_SAT']].sort_values('total_SAT', ascending = False)

top_10_schools.head(10)

                                           school_name  total_SAT
88                              Stuyvesant High School      714.7
170                       Bronx High School of Science      680.3
93                 Staten Island Technical High School      680.3
174  High School of American Studies at Lehman College      671.0
333                        Townsend Harris High School      660.3
365  Queens High School for the Sciences at York Co...      649.0
5                       Bard High School Early College      638.0
280                     Brooklyn Technical High School      632.0
45                       Eleanor Roosevelt High School      629.7
68   High School for Mathematics, Science, and Engi...      629.7

- Above is the best performing schools overall in the SATs. 
- Again, and by quite a difference **Stuyvesant High School** is the best performing school in New York.

# Third Question:- Which single borough has the largest standard deviation in the combined SAT score?

In [9]:
information_about_boroughs = schools.groupby('borough')['total_SAT'].agg(['count', 'mean','std'])

largest_std_dev = information_about_boroughs[information_about_boroughs['std'] == information_about_boroughs['std'].max()]

columns = ['num_schools', 'average_SAT', 'std_SAT']

largest_std_dev = largest_std_dev.rename(columns= {'count': 'num_schools', 'mean': 'average_SAT', 'std': 'std_SAT'})

print(largest_std_dev)

           num_schools  average_SAT    std_SAT
borough
Manhattan           89   446.713483  76.772137

**The borough with the largest standard deviation in combined SAT scores is Manhattan**